.masterc {
    display: flex;
    /* justify-content: baseline; */
    box-shadow: 0 0px 3.5px 0 rgba(0,0,0,0.5);
    width: 130vh;
    /* margin: auto; */
    margin-left: 40px;
    border-radius: 1rem;
    padding: 20px;
    margin-bottom: 15px;
}

.masterc:hover {
    color: #0d6efd;
}

.leftcolc {
    /* display: flex;
    justify-content: space-between; */
    /* margin-right: 60px; */
    width: 50%;

}

.barchartc {
    /* display: flex;
    justify-content: space-between; */
    padding-top: 30px;
    width: 50%;
    height: 250px;
}