.master {
    display: flex;
    /* justify-content: baseline; */
    box-shadow: 0 0px 3.5px 0 rgba(0, 0, 0, 0.5);
    width: 130vh;
    /* margin: auto; */
    margin-left: 40px;
    border-radius: 1rem;
    padding: 20px;
    margin-bottom: 15px;
}


.left_col {
    flex-direction: column;
    width:95%

}

.right_col {
    flex-direction: column;
    width: 5%
}

.barchart {
    /* display: flex;
    justify-content: space-between; */
    padding-top: 30px;
    width: 30%;
    height: 250px;
}

.white_btn,
.green_btn,
.blue_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 15px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: #3bb19b;
	color: white;
	margin: 10px;
}
.blue_btn {
    transition: 0.5s;
    background-color: #89CBF3;
    color: white;
    margin: 10px;
    font-size: 20px;
}

.blue_btn:hover {
    transition: 0.5s;
    background-color: blue;
}